---
import { Image } from "astro:assets";
//import like this because i have not figured out how to dynamic import with lqip with vite
import img1 from "../assets/HeroImages/1.png";
import img1Lqip from "../assets/HeroImages/1.png?lqip";
import img2 from "../assets/HeroImages/2.jpg";
import img2Lqip from "../assets/HeroImages/2.jpg?lqip";
import img3 from "../assets/HeroImages/3.jpg";
import img3Lqip from "../assets/HeroImages/3.jpg?lqip";
---

<section id="home" class="carousel" aria-labelledby="carouselheading">
  <!-- TODO:add heading for sr and alt text -->
  <ul>
    <li id="slide-1">
      <Image
        src={img1}
        alt="test"
        style={{
          backgroundImage: `url("${img1Lqip.lqip}")`,
          backgroundSize: "cover",
        }}
      />
    </li>
    <li id="slide-2">
      <Image
        src={img2}
        alt="test"
        style={{
          backgroundImage: `url("${img2Lqip.lqip}")`,
          backgroundSize: "cover",
        }}
      />
    </li>
    <li id="slide-3">
      <Image
        src={img3}
        alt="test"
        style={{
          backgroundImage: `url("${img3Lqip.lqip}")`,
          backgroundSize: "cover",
        }}
      />
    </li>
  </ul>
  <div class="slider-nav">
    <a href="#slide-1" aria-label="show slide 1"></a>
    <a href="#slide-2" aria-label="show slide 2"></a>
    <a href="#slide-3" aria-label="show slide 3"></a>
  </div>
</section>
<script></script>

<style>
  section {
    position: relative;
    margin-inline: -2rem;
  }
  ul {
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    box-shadow: 0 1.5rem 3rem -0.75rem hsla(0, 0%, 0%, 0.25);
    border-radius: 0.5rem;
    -ms-overflow-style: none; /* Hide scrollbar IE and Edge */
    scrollbar-width: none; /* Hide scrollbar Firefox */
    max-height: 100vh;
  }
  li {
    list-style: none;
    flex: 1 0 100%;
    scroll-snap-align: start;
  }
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .slider-nav {
    display: flex;
    column-gap: 0.5rem;
    position: absolute;
    bottom: 0.5rem;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
  }

  .slider-nav a {
    position: relative;
    width: 2.5rem;
    height: 0.3rem;
    border-radius: 24px;
    background-color: #fff;
    opacity: 0.75;
    transition: opacity ease 250ms;
  }

  /* for increasing clicable area  */
  .slider-nav a:before {
    content: "";
    position: absolute;
    width: 2.5rem;
    height: 3rem;
    top: -250%;
    cursor: pointer;
  }

  .slider-nav a:hover {
    opacity: 1;
    background-color: hsl(var(--accent));
  }
  .slider-nav a:active {
    opacity: 1;
    transform: scale(1.2);
  }
</style>
