---
import { Tabs } from "astro-tabs";

import data from "../../content/pricing/index.json";
const pricingData = data;
---

<Tabs>
  <Fragment slot="tab-1">October</Fragment>
  <Fragment slot="tab-2">Mansoura</Fragment>

  <Fragment slot="panel-1">
    {
      Object.entries(pricingData.october).map(([key, table]) => (
        <>
          <table>
            <thead>
              <tr>
                <th colspan={Object.keys(table.rows[0]).length}>
                  {table.title}
                </th>
              </tr>
              <tr>
                {Object.keys(table.rows[0]).map((header) => (
                  <th>{header}</th>
                ))}
              </tr>
            </thead>
            <tbody>
              {table.rows.map((row) => (
                <tr>
                  {Object.values(row).map((value) => (
                    <td>{Array.isArray(value) ? value.join(", ") : value}</td>
                  ))}
                </tr>
              ))}
            </tbody>
          </table>
          <br />
        </>
      ))
    }
  </Fragment>

  <Fragment slot="panel-2">
    {
      Object.entries(pricingData.mansoura).map(([key, table]) => (
        <>
          <table>
            <thead>
              <tr>
                <th colspan={Object.keys(table.rows[0]).length}>
                  {table.title}
                </th>
              </tr>
              <tr>
                {Object.keys(table.rows[0]).map((header) => (
                  <th>
                    {header.charAt(0).toUpperCase() +
                      header.slice(1).replace(/([A-Z])/g, " $1")}
                  </th>
                ))}
              </tr>
            </thead>
            <tbody>
              {table.rows.map((row) => (
                <tr>
                  {Object.values(row).map((value) => (
                    <td>{Array.isArray(value) ? value.join(", ") : value}</td>
                  ))}
                </tr>
              ))}
            </tbody>
          </table>
          <br />
        </>
      ))
    }
  </Fragment>
</Tabs>

<style>
  table {
    width: 100%;
    border-collapse: collapse;
  }
  table thead tr:nth-child(2) th {
    background-color: hsl(var(--primary) / 85%);
  }

  th,
  td {
    border: 1px solid hsl(var(--accent) / 20%);
    padding: 8px;
    text-align: center;
  }

  th {
    background-color: hsl(var(--primary));
    color: white;
    color: orange;
    cursor: pointer;
    text-transform: uppercase;
  }

  tr:nth-child(even) {
    background-color: hsl(var(--primary) / 20%);
  }
  tr {
    background-color: hsl(var(--primary) / 5%);
  }
</style>
<style is:global>
  #pricing .tab {
    color: hsl(var(--primary) / 60%);
    font-weight: 700;
  }
  #pricing .tabs nav {
    gap: 1rem;
  }

  #pricing .tab-selector:checked ~ .tab {
    color: hsl(var(--primary));
  }

  #pricing .panel {
    border-block-start: 1px solid hsl(var(--primary) / 70%);
    padding-block-start: 0.5rem;
  }
</style>
